* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box; /* Ensures padding doesn't affect overall width */
}

html, body {
    font-size: 100%; /* Base font size */
    width: 100%;
    min-height: 100%;
}

/* Flexible and centered layout */
#design {
    max-width: 100%;
    margin: 0 auto;
    text-align: center; /* Center content */
}

.logo {
    text-align: center;
    position: fixed;
    top: 10%;
    left: 0;
    width: 100%;
}

/* Responsive adjustments for the logo if needed */
@media screen and (max-width: 768px) {
    .logo {
        position: static;
        top: 0;
        width: auto; /* Adjusts width for smaller screens */
    }
}

header {
    /* Add styles for header if needed */
}

.navigation { 
    width: 100%;
    text-align: center;
}

.navigation a {
	font-family: Cormorant Garamond;
	font-size: 2.3em;
	letter-spacing: 0.1em;
	color: #d8cdec;
	text-align: center;
	text-shadow: 0.05em 0.05em 0.1em #000;
}

/* Responsive adjustments for the navigation bar if needed */
@media screen and (max-width: 768px) {
    .navigation a {
        font-size: 1em; /* Smaller font size for mobile devices */
	text-shadow: 0.022em 0.022em 0.5em #000;
    }
}

.navigation a:hover {
	color:#D49D94;
}

.social {
	width: 100%;
	text-align: center;
}

.social a {
	text-align: center;
}

.social a:hover {
	opacity: 0.3;
}

.navigation li {
    display: inline; /* Lists navigation bar items horizontally instead of vertically */
}

.container {
	width: 50%;
	margin:auto;
}

#my-form {
    padding-top: 1em;
    text-align: center;
    position: relative; /* Changed from fixed to relative */
    width: 100%; /* Full width of the container */
    margin: 1em auto; /* Added margin for spacing */
    box-sizing: border-box; /* Ensures padding is included in width */
}

/* Responsive adjustments for the form if needed */
@media screen and (max-width: 768px) {
    #my-form {
        width: 90%; /* Slightly narrower on smaller screens */
        padding: 1em; /* Adjust padding for smaller screens */
    }
}

/* Common styling for all input types */
input[type="text"], input[type="email"] {
	text-align: center;
	display: inline-block;
	box-sizing: border-box;
	width: 20em;
	height: 1em;
}

footer {
	font-size: 1.5em;
	position: relative;
	bottom: 2%;
	left: 2%;
	margin-top: 1.2em;
}
