* {
	margin: 0;
	padding: 0;
	text-decoration: none;
	float: 0;
}

html {
	font-size: 75%;
}

body {
	font-size: 0.75em;
}

div {
	display: block;
}

#design {
	max-width: 1250px;
	margin: 0 auto;
	clear: both;
	position: relative;
}

.header {
	text-align: center;
	position: fixed;
	top: 30%;
	left: 0%;
	width: 100%;
}

.header a {
	font-family: Snell Roundhand, cursive;
	font-size: 3.7em;
	letter-spacing: 0.3em;
	color: #C0C0C0;
	text-shadow: 0.05em 0.1em 0.1em #D4AF37;
}

.navigation { 
	position: fixed;
	top: 55%;
	left: 39%;
	width: 100%;
}

.navigation a {
	font-family: Times, Times New Roman, serif;
	font-size: 2.3em;
	letter-spacing: 0.1em;
	padding-right: 2.5em;
	color: #DF7D60;
	text-align: center;
	text-shadow: 0.05em 0.05em 0.1em #C0C0C0;
}

.navigation a:hover {
	color:#D49D94;
}

.social {
	padding-top: 1em;
	text-align: center;
	position: fixed;
	top: 60%;
	left: 0%;
	width: 100%;
}

.social a {
	padding-right: 2.7em;
	text-align: center;
	position: relative;

}

.social a:hover {
	opacity: 0.3;
}

li {
	display: inline;
}

.imageLeft {
	position: fixed;
	top: 25%;
	left: 17%;
}

.imageRight {
	transform: scaleX(-1);
	position: fixed;
	top: 25%;
	right: 17%;
}

.container {
	width: 50%;
	margin:auto;
}

#my-form {
	padding-top: 1em;
	text-align: center;
	position: fixed;
	top: 70%;
	left: 0%;
	width: 100%;
}

input[type="email"] {
	border-top-style: solid;
	border-top-color: #D49D94;
	border-bottom-style: solid;
	border-bottom-color: #D49D94;
	border-left-style: none;
	text-align: center;
	display: inline-block;
	box-sizing: border-box;
	width: 25em;
	height: 1em;
	padding: 1em 1.5em;
}

footer {
	font-size: 1.5em;
	position: fixed;
	bottom: 2%;
	left: 2%;
	margin-top: 1.2em;
}
